deep_translator
langchain_community
langchain
langchain_experimental
huggingface_hub
curl https://huggingface.co/TheBloke/Llama-2-7B-Chat-GGUF/resolve/main/llama-2-7b-chat.Q4_K_M.gguf?download=true -L